*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* making the padding included in the width and height*/
}

.main .home-sec
{
     width: 100%;
     height: 100vh;
     background-image: url("../images/peakpx.jpg");
     background-size: cover;
     filter: brightness(60%);
     -webkit-filter: brightness(60%);
}