* {
  margin: 0;
  padding: 0;
  /* making the padding included in the width and height*/
}

.main .container {
  padding: 10px;
}
.main .home-sec {
  width: 100%;
  height: 100vh;
}
.home-sec2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  filter: brightness(40%);
}

.main .home-sec .nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main .home-sec .nav::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: white;
}

.main .home-sec .nav img {
  width: 65px;
}

.main .home-sec .nav .menu {
  display: flex;
  align-items: center;
  color: white;
  height: fit-content;
}

.main .home-sec .nav .menu .line {
  margin-left: 20px;
  margin-right: 10px;
  display: inline-block;
  width: 1px;
  height: 20px;
  padding: 5px 0;
  background-color: white;
}
